* {
	font: 13px/1.5 'Î¢ÈíÑÅºÚ', Verdana, Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}

body, html {
	height: 20%;
	/*overflow: hidden;*/
}


a {
	color: #27A9E3;
	text-decoration: none;
	cursor: pointer;
}


.reg {
	margin: 100px auto 0 auto;
	min-height: 420px;
	max-width: 420px;
	padding: 40px;
	background-color: #ffffff;
	border-radius: 8px;
	/* overflow-x: hidden; */
	box-sizing: border-box;
}

a.logo {
	display: block;
	height: 58px;
	width: 167px;
	margin: 0 auto 30px auto;
	background-size: 167px 42px;
}



#teareg {
	display: none;
}

input[type=text], input[type=file], input[type=password], input[type=email],
	select {
	border: 1px solid #DCDEE0;
	vertical-align: middle;
	border-radius: 0px;
	height: 30px;
	padding: 0px 16px;
	font-size: 14px;
	color: #555555;
	width: 15%;
	
}
input[type=submit], input[type=reset],input[type=button] {
	display: inline-block;
	padding: 12px 24px;
	margin: 0px;
	font-size: 18px;
	line-height: 10px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	color: #ffffff;
	background-color: #27A9E3;
	border-radius: 3px;
	border: none;
	-webkit-appearance: none;
	outline: none;
	width: 15%;
}

hr.hr15 {
	height: 20px;
	border: none;
	margin: 0px;
	padding: 0px;
	width: 20%;
}

.hr16 {
	margin: 20px 50px 0px;
}

hr.hr20 {
	height: 10px;
	border: none;
	margin: 0px;
	padding: 0px;
	width: 10%;
}

.copyright {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.85);
	display: block;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.register {
	float: right;
}